body {
	background-color: #41444e;
    color: wheat;
}

.page-contents
{
    background-color: #00000020;
    border: 1px solid #00000050;
    box-shadow: 2px 2px 7px #00000076;
}

.article-note {
	color: #f5deb370;
}

.page-footer {
	color: indianred;
}

code {
    background: #1b1f235c;
}

a:visited {
    color: cadetblue;
}

a:link {
    color: cadetblue;
}