body {
	background-color: #41444e;
    color: wheat;
}

#main-logo {
	filter: drop-shadow(2px 4px 6px black);
}

.fancy-box
{
    background-color: #00000020;
    border: 1px solid #00000050;
    box-shadow: 2px 2px 7px #00000076;
}

.box-title
{
	color: cadetblue;
}

.box-title-red
{
	color: indianred;
}

#filter
{
	background: #00000000;
}

.badge-container
{
	background:#00000069;
}

code {
	background: #1b1f233d;
}

a, p, .box-text {
	color: wheat;
	filter: brightness(90%); /* contract to high? */
}

a.footer-link:link {
	color: #f5deb370;
}

a.footer-link:visited {
    color: #f5deb370;
}

a.footer-link {
	color: #f5deb370;
}
	
.article-note {
	color: #f5deb370;
}

.page-footer {
	color: indianred;
}

.box-tag {
	color: gray;
}

tr:nth-child(even) {
    background-color: #00000020;
}

.luac-file-drag {
    border: 2px dashed wheat;
    background: #00000020;
}

.insert-code {
	color: lightblue;
}